$mainLightGrey: #323445;
$mainDarkGrey: #232533;
$greyText: #C7C7C7;
$mainYellow: #FFC25C;

img:hover{
  cursor: pointer;
}
.navbar{
  display: flex;
  justify-content: flex-end;
  color: $greyText;

  p{
    margin-right: 5%;
  }
}

.smallScrPic{
  display: none;
}

.firstSection{
  margin-top: 50px;
  background-color: $mainDarkGrey;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  color: $greyText;
  p{
    margin: 0px;
  }
  .aboutMe{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .name{
      margin-top: 5%;
      margin-bottom: 5%;
      font-size: 2rem;
    }

    .information{

      p{
        margin: 2%;
      }

      .bold{
        font-weight: 700;
      }

      a{
        text-decoration: none;
        color: $mainYellow;
      }
      .line{
        display: flex;
        align-items: center;

      }
    }
  }
  .photo{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    img{
      width: 30%;
    }
  }
}


.secondSection{
  display: flex;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;

  .voiceMsg{
    width: 50%;
    display: flex;
    justify-content: center;

  }
  .videoMsg{
    width: 50%;
    display: flex;
    justify-content: center;
  }
}

.lineWidth{
  width: 100%;
  display: flex;
  justify-content: center;

  .horizontalLine{
    width: 80%;
    border-top: 2px solid $mainYellow;
    text-align: center;
  }
}


.thirdSection{
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  color: $greyText;

  .picture{
    display: flex;
    justify-content: center;
    width: 50%;
    img{
      width: 90%;
    }
  }
  .information{
    width: 50%;
    display: flex;
    justify-content: center;

    .bold{
      font-weight: 700;
    }

    a{
      text-decoration: none;
      color: $mainYellow;
    }
  }
}

.fourthSection{
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  color: $greyText;
  background-color: $mainDarkGrey;
  .information{
    width: 50%;
    display: flex;
    justify-content: center;

    .bold{
      font-weight: 700;
    }
    a{
      text-decoration: none;
      color: $mainYellow;
    }

  }
  .photos{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;


    img{
      height: 50%;
      width: 65%;
    }
  }
}


.fifthSection{
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  .bold{
    font-weight: 700;
  }
  .contact{
    width: 50%;
    display: flex;
    justify-content: center;
    color: $greyText;

  }
  .socials{
    width: 50%;
    display: flex;
    justify-content: center;
    color: $greyText;

    .text{
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

    }
    .icons{
      width: 100%;
      display: flex;
      width: 60%;
     display: flex;
     justify-content: space-evenly;
    }
  }
}

.footer{
  background-color: $mainDarkGrey;
  height: fit-content;
  display: flex;
  justify-content: center;
  color: $greyText;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;

  .info{

    p{
      text-align: center;

      a{
        text-decoration: none;
        color: $mainYellow;
      }
    }
  }

}

.modal1{
  display: none;
}

.modal1.active{
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modalContent {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


@media only screen and (max-width: 900px){
  .smallScrPic{
    display: flex;
    justify-content: center;
    img{
      width: 30%;
    }
  }

  .firstSection{
    .photo{
      display: none;
    }

    .aboutMe{
      width: 100%;
    }
  }

  .secondSection{
    flex-direction: column;


    .voiceMsg{
      margin: 2%;
    }
    .videoMsg{

    }
  }

  .thirdSection{
    flex-direction: column;

    .picture{
      width: 100%;
    }

    .information{
      width: 100%;

    }
  }

  .fourthSection{
    flex-direction: column;
    .photos{
      width: 100%;
    }
    .information{
      width: 100%;

    }
  }
  .fifthSection{
    flex-direction: column;
    .contact{
      width: 100%;
    }
    .socials{
      width: 100%;

    }
  }

}
