$mainLightGrey: #323445;
$mainDarkGrey: #232533;
$greyText: #C7C7C7;
$mainYellow: #FFC25C;

.header{
  background-color: $mainDarkGrey;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  p{
    margin: 0;
    color: $greyText;
  }
}

.main{
  display:flex ;
  .hpSide{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .jpSide{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

  }



  .card{
    border-radius: 54px;
    background: #323445;
    box-shadow:  21px 21px 57px #232430,
                -21px -21px 57px #41445a;
    width: 60%;
    height: 102%;


    .photo{
      display: flex;
      align-items: center;
    	justify-content: center;
      img{
        width: 50%;
        margin-top: 10px;
      }
    }

    .info{
      color: $greyText;
      margin-left: 10%;

      .name{
        font-size: 20px;
        font-weight: 700;
      }
    }

    .nextPage{
      display: flex;
      justify-content: flex-end;
      margin-right: 70px;
      align-items: center;
      color: $greyText;
      cursor: pointer;
      p{
        margin-bottom: 20px;

      }
    }

    svg{
      height: 13px;

    }

  }
  .card:hover{
    background: $mainDarkGrey;

    cursor: pointer;
  }

}




.colleagueLinks{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $mainYellow;
  margin-top: 50px;


  .line{
    width: 80%;
    border-top: 2px solid $mainYellow;
    margin-top: -12px;
    margin-bottom: 20px;

  }



  .links{
    display: flex;
    flex-direction: column;
    a{
      text-decoration: none;
      color: $mainYellow;
    }
  }
}

.footer{
  background-color: $mainDarkGrey;
  height: fit-content;
  display: flex;
  justify-content: center;
  color: $greyText;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;

  .info{

    p{
      text-align: center;

      a{
        text-decoration: none;
        color: $mainYellow;
      }
    }
  }




}



@media only screen and (max-width: 900px) {

  .main{
    flex-direction: column;

    .hpSide{
      width: 100%;
    }

    .jpSide{
      width: 100%;
    }
  }
}
